
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ebe6e6;
    color: #faf5f5;
}

.fresh-purchase-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(239, 241, 244);
}

.page-header {
    text-align: center;
    padding: 20px;
    background-color: #1a3b48;
}

.content-wrapper {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 150px; /* Add space between the main content and sidebars */
}

.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #1a3b48;
    color: #fff;
    border-radius: 5px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sidebar ul li img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    max-width: 400px;
    padding: 40px;
    background-color: #122324ab;
    border-radius: 5px;
    margin: 0 40px; /* Add horizontal margin to separate from sidebars */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
    background-color: #f0f3f6;
    color: #fff;
}

.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #08ec1f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}

.page-footer {
    text-align: center;
    padding: 10px;
    background-color: #2d3843;
    position: relative;
    bottom: 0;
    width: 100%;
}

.page-footer a {
    color: #3498db;
    text-decoration: none;
}

.page-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-content {
        max-width: 100%;
        margin: 0;
    }
}
